<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />


    <application
        android:name=".ClockApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Clock" >

        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Clock"
            android:windowSoftInputMode="adjustResize"
            android:showOnLockScreen="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".data.service.TimerRunningService" />
        <service android:name=".data.service.TimerCompletedService"/>

        <receiver android:name=".data.receiver.TimerNotificationBroadcastReceiver" />

        <receiver
            android:name=".data.receiver.AlarmBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <data
                    android:host="www.clock.com"
                    android:scheme="https" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name=".data.service.AlarmService" />
        <service android:name=".data.service.RescheduleAlarmsService" />

        <service android:name=".data.service.StopwatchService" />

        <receiver android:name=".data.receiver.StopwatchNotificationBroadcastReceiver" />
        <receiver android:name=".data.receiver.AlarmActionsBroadcastReceiver" />

    </application>

</manifest>