<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.clock">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Clock"
        android:name=".ClockApplication"
       >
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Clock">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <data android:scheme="https" android:host="www.clock.com" />
            </intent-filter>

        </activity>
        <service android:name=".timer.TimerService" android:stopWithTask="true"/>
        <receiver android:name=".timer.TimerNotificationBroadcastReceiver" />
        <receiver android:name=".alarm.AlarmBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <service android:name=".alarm.AlarmService"/>
        <service android:name=".alarm.RescheduleAlarmsService"/>
        <receiver android:name=".alarm.AlarmActionsBroadcastReceiver"/>
        <service android:name=".stopwatch.StopwatchService" android:stopWithTask="true"/>
        <receiver android:name=".stopwatch.StopwatchNotificationBroadcastReceiver"/>
    </application>

</manifest>